/*--navbar--*/
#menu{
    background-color: grey;
}
li{
    padding-left: 100px;
}
.g1
{
    width: 200px;
    height: 165px;
  
}
/*--footer--*/
#bp{
    background-color: grey;
    text-decoration-color: antiquewhite;
}

.tf{color:whitesmoke;}
/*--cards--*/
.voir{
    width:100%
}
/*--Maps--*/
.mapouter {
    position: relative;
    text-align: right;
    height: 500px;
    width: 1000px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 500px;
    width: 1000px;
}